/* Stile di base per l'applicazione */
  .app-container {
    display: flex; /* Usa Flexbox per creare un layout a due colonne */
    min-height: 100vh;
    background-color: #f3eee8ff;
  }

  /* L'area del contenuto principale */
  .main-content {
    margin-left: 0; /* Inizialmente nessun margine a sinistra */
    flex-grow: 1; /* Occupa tutto lo spazio rimanente in larghezza */
    padding: 2rem; /* Aggiunge un po' di spazio interno per non avere il contenuto attaccato ai bordi */
    box-sizing: border-box; /* Assicura che il padding non aumenti la larghezza totale */
    background-color: #f3eee8ff; /* Colore di sfondo chiaro per il contenuto principale */
    min-width: 0; /* Assicura che il contenuto non trabocchi orizzontalmente */
  }

  /* Stile specifico per le rotte protette */
  .main-content.protected-routes {
    margin-left: 240px; /* La Navbar è larga 240px, quindi il contenuto deve iniziare dopo */
    width: calc(100% - 240px); /* Occupa lo spazio rimanente */
    background-color: #f3eee8ff; /* Colore di sfondo chiaro per il contenuto principale */
    position: relative; /* Posizione relativa per il contenuto principale */
    overflow-x: hidden; /* Evita lo scroll orizzontale*/
  }