  /*Scopo: Contiene gli stili specifici per il layout principale definito in App.jsx.
  In questo caso, il suo scopo principale è creare la struttura a due colonne:
  la Navbar fissa a sinistra e l'area del contenuto principale a destra,
  assicurandosi che il contenuto non finisca sotto la navbar.*/

  /* src/App.css */

  .app-container {
    display: flex; /* Usa Flexbox per creare un layout a due colonne */
    min-height: 100vh;
  }

  /* L'area del contenuto principale */
  .main-content {

    margin-left: 0; /* Inizialmente nessun margine a sinistra */
    
    /* Occupa tutto lo spazio rimanente in larghezza */
    flex-grow: 1; 

    /* Aggiunge un po' di spazio interno per non avere il contenuto attaccato ai bordi */
    padding: 2rem; 

    /* Assicura che il padding non aumenti la larghezza totale */
    box-sizing: border-box; 
  }

  .main-content.protected-routes {
    /* La Navbar è larga 240px, quindi il contenuto deve iniziare dopo */
    margin-left: 240px;
    width: 100%; /* Occupa lo spazio rimanente */
    background-color: #f3eee8ff; /* Colore di sfondo chiaro per il contenuto principale */
  }